.button {
  display: block;
  width: 100%;
  cursor: pointer;
  background: #237ac5;
  color: white;
  border: solid 1px black;
}

.button_disabled {
  cursor: not-allowed;
  background: grey;
  color: white;
  border: solid 1px black;
  outline: none;
}
