.usersList {
  display: block;
  width: 100%;

  &__title {
    display: block;
    width: 100%;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }

  &Item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin: 0 0 15px 0;
    padding: 10px;
    cursor: pointer;

    &__textWrap {
      display: block;
      width: calc(100% - 140px);
      text-align: left;
      padding: 5px 20px 5px 5px;
    }

    &__removeBtnWrap {
      display: block;
      max-width: 140px;
      min-width: 140px;
      padding: 0 10px 0 0;
    }

    &__modalBlock {
      display: flex;
      flex-flow: row wrap;
      align-items: start;
      justify-content: center;
      padding: 20px;

      &Header {
        display: block;
        width: 100%;
        margin: 0 0 10px 0;
        text-align: center;
        font-size: 24px;
      }

      &Text {
        display: block;
        width: 100%;
        text-align: left;
        font-size: 20px;
      }
    }
  }
}